/* Estilos de Inicio de Sesion */

body {
    font-family: Arial, sans-serif;
    background-color: #69C9D0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

/* Barra de Navegacion */

.barra_de_navegacion {
    background-color: #833AB4;
}

.barra_de_navegacion a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.barra_de_navegacion a:hover {
    background-color: #ddd;
    color: black;
}

.contenedor {
    margin: 5px;
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

/* Parrafo Inicial Letter */

.parrafofinal {
    margin: 5px;
}

.parrafoinicial h1 {
    color: #1877f2;
    font-size: 2.5rem;
    margin-bottom: 10px;

}

.parrafoinicial img {
    width: 100px;
    height: 100px;
}

.parrafoinicial p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Contenedor del Box Inicio de sesion */


.iniciar_sesion {
    margin: 5px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iniciar_sesion input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.iniciarsesion_boton {
    width: 100%;
    padding: 12px;
    background: #b14a38;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.iniciarsesion_boton:hover {
    background: #753e34;
}

/* Estilos de Olvidaste tu Contraseña?  */

.iniciar_sesion a {
    display: block;
    margin: 10px 0;
    color: #1aa5a5;
    text-decoration: none;
}

.iniciar_sesion a:hover {
    text-decoration: underline;
}

/* Estilos de Crear nueva cuenta */

.registrarse {
    display: block;
    width: 100%;
    padding: 12px;
    background: #798876;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.registrarse:hover {
    background-color: #546950;
}

/* PARA ORDENADOR */

@media (min-width: 450px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        max-width: 960px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
    }

    .parrafoinicial {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        text-align: left;
        margin-bottom: 10px;
        position: relative;
        height: 100%;
    }

    .parrafoinicial img {
        opacity: 20%;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .iniciar_sesion {
        max-width: 450px;
    }

    .parrafofinal {
        text-align: left;
        transform: translateY(-150px);
    }

    body {
        height: 100vh;
        margin-top: 100px;
    }

    .barra_de_navegacion {
        top: 0;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* PARA CELULARES */

@media (max-width: 450px) {
    img {
        display: none;
    }
}

/* FOOTER */

.idiomas {
    margin: 5px;
    background: #d6d6d6;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #868686;

}

.selector_de_idiomas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.selector_de_idiomas a {
    text-decoration: none;
    color: #606770;
    font-weight: 500;
}

.selector_de_idiomas a:hover {
    text-decoration: underline;
}

.pie_de_pagina {
    margin-top: 10px;
    color: #65676b;
    font-size: 12px;
}

h2 {
    text-decoration: underline;
}

.Desarrolladores {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.Desarrolladores li {
    text-align: start;
}

.Desarrolladores a {
    text-decoration: none;
    color: black;

    &:hover {
        color: #1877f2;
    }
}